<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169969358957-406our80qrl1dopp4ssmogqih63rrp16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169969358957-406our80qrl1dopp4ssmogqih63rrp16</string>
	<key>API_KEY</key>
	<string>AIzaSyA8g_1kjcYdnyJwNr0CdoPirRsKpQjt-nQ</string>
	<key>GCM_SENDER_ID</key>
	<string>169969358957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>test-d8b7c</string>
	<key>STORAGE_BUCKET</key>
	<string>test-d8b7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169969358957:ios:7a673e1f4367e9cfc08764</string>
</dict>
</plist>